{{template "base/head" .}}
<div class="repository view file list">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/devops/navbar" .}}
			<div class="ui right">
				{{if .PageIsDevOps}}
					<a class="ui green button" href="{{.RepoLink}}/pipeline/new">{{.i18n.Tr "repo.pipeline.new"}}</a>
				{{else}}
					<a class="ui green button" href="{{.RepoLink}}/project/new">{{.i18n.Tr "repo.project.new"}}</a>
				{{end}}
			</div>
		</div>
		<div class="ui segment" id="git-stats">
			<div class="ui two horizontal center link list">
				<div class="item">
				<a href="{{.RepoLink}}/commits/{{EscapePound .BranchName}}"><span class="ui text black"><i class="octicon octicon-history"></i> <b>{{.CommitsCount}}</b> {{.i18n.Tr "repo.pipeline.total"}}</span> </a>
				</div>
				<div class="item">
				<a href="{{.RepoLink}}/branches"><span class="ui text black"><i class="octicon octicon-git-branch"></i><b>{{.BrancheCount}}</b> {{.i18n.Tr "repo.pipeline.success"}}</span> </a>
				</div>
				<div class="item">
				<a href="{{.RepoLink}}/releases"><span class="ui text black"><i class="octicon octicon-tag"></i> <b>{{.Repository.NumTags}}</b> {{.i18n.Tr "repo.pipeline.error"}}</span> </a>
				</div>
			</div>
		</div>
		<div class="ui divider"></div>
		{{if not .PageIsDevOps}}
			<p>{{.Name}}</p>
		{{else}}
			<div class="ui unstackable attached table segment">
				<table class="ui unstackable very basic striped table">
					<thead>
						<tr>
							<th>ID</th>
							<th>{{.i18n.Tr "admin.repos.owner"}}</th>
							<th>{{.i18n.Tr "admin.repos.name"}}</th>
							<th>{{.i18n.Tr "admin.repos.private"}}</th>
							<th>{{.i18n.Tr "admin.repos.watches"}}</th>
							<th>{{.i18n.Tr "admin.repos.stars"}}</th>
							<th>{{.i18n.Tr "admin.repos.issues"}}</th>
							<th>{{.i18n.Tr "admin.repos.size"}}</th>
							<th>{{.i18n.Tr "admin.users.created"}}</th>
							<th>{{.i18n.Tr "admin.notices.op"}}</th>
						</tr>
					</thead>
					<tbody>
						{{range .Repos}}
							<tr>
								<td>{{.ID}}</td>
								<td><a href="{{AppSubURL}}/{{.Owner.Name}}">{{.Owner.Name}}</a></td>
								<td><a href="{{AppSubURL}}/{{.Owner.Name}}/{{.Name}}">{{.Name}}</a></td>
								<td><i class="fa fa{{if .IsPrivate}}-check{{end}}-square-o"></i></td>
								<td>{{.NumWatches}}</td>
								<td>{{.NumStars}}</td>
								<td>{{.NumIssues}}</td>
								<td>{{.Size | FileSize}}</td>
								<td><span title="{{DateFmtLong .Created}}">{{DateFmtShort .Created}}</span></td>
								<td><a class="delete-button" href="" data-url="{{$.Link}}/delete?page={{$.Page.Current}}" data-id="{{.ID}}"><i class="trash icon text red"></i></a></td>
							</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
